body {
    background-color: black;
    text-align: center;
}

h1, h2 {
    font-family: Verdana;
    color: white;
    text-align: centered;
}

h1 {
    font-size:50px;
}

h2 {
    font-weight: 300;
    font-size: 42px;
}

a {
    color: aquamarine;
    font-size: 16px;
}

p {
    font-family: Verdana;
    font-size: 21px;
    color: gray;
}

footer p {
    text-align: right;
}
